# https://docs.centos.org/en-US/8-docs/advanced-install/assembly_installation-introduction-experienced/

# https://docs.centos.org/en-US/8-docs/advanced-install/assembly_kickstart-commands-and-options-reference/

# started from a manual install like the docs say, and then iterated

#version=RHEL8
ignoredisk --only-use=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel
# Use graphical install
cmdline
# Use CDROM installation media
cdrom
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# reboot upon installation completion
reboot

# louder
logging --level=debug

# Network information
network  --bootproto=dhcp --device=enp0s3 --onboot=off --ipv6=auto --no-activate
network  --hostname=centos

repo --name="AppStream" --baseurl=file:///run/install/repo/AppStream

# Root password
rootpw --plaintext packer
# Run the Setup Agent on first boot
firstboot --enable
# Do not configure the X Window System
skipx
# System services
services --disabled="chronyd"
# System timezone
timezone America/Toronto --isUtc --nontp

# louder
logging --level=debug

%packages
@^minimal-environment
bzip2
elfutils-libelf-devel
gcc
kernel
kernel-devel
kernel-headers
make
tar

%end

%addon com_redhat_kdump --disable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
